
body {
    color: tomato
}



#titulo{
    color:black ;
    font-size: 110%;
}

footer {
    color: thistle;
}

div h3, div p{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

*{
    font-size: 24px; 
    color: black;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.imagen {
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}


.imagen:hover img {
    transform: scale(1.1);
}  



